In [ ]:
# python tuple 
Tuple 
tuple are used to store multiple items in a single variable 
a tuple is a collection of ordered and unchangeable

In [1]:
x=("apple","nithin","tiger","lion","cow")
print(x)

('apple', 'nithin', 'tiger', 'lion', 'cow')

In [ ]:
# tuple items
tuple item are ordered unchangeable and allow duplicate values

In [ ]:
Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [5]:
tuple1=()
print(type(tuple1))

<class 'tuple'>

In [13]:
tuple=(1,23,4,5)
tuple1=('one','two')
tuple2=(23,'nithin',(23,45,2),(12,324))
tuple3=("nithin",23,45,{"nithin"},[2,3,4,4])
print(len(tuple3))

5

In [15]:
tuple[0]

1

In [17]:
tuple3[3]

{'nithin'}

In [19]:
tuple[-1]

5

In [21]:
x=(1,23,4,5,6,7)
x[1:4]

(23, 4, 5)

In [23]:
x[:4]

(1, 23, 4, 5)

In [29]:
x[-1:-5]

()

In [31]:
x[-1]

7

In [33]:
x[:]

(1, 23, 4, 5, 6, 7)

In [35]:
del x[0]

TypeError: 'tuple' object doesn't support item deletion

In [37]:
x[0]=1

TypeError: 'tuple' object does not support item assignment

In [39]:
del x # deleting entire tuple object

In [41]:
# loop through a tuple
x=(12,3,5,6,6,8,63,23,9)
for i in x:
    print(i)

12
3
5
6
6
8
63
23
9

In [43]:
# tuple membership
x=(12,34,1,23,4,5,67,98,4)
12 in x

True

In [45]:
23 not in x

False

In [49]:
# convert the tuple into list to be able to chage ir 
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)

print(x)

TypeError: 'tuple' object is not callable

In [51]:
t1=('a','b')
r=(1,2,3,4)
w=t1+r
print(w)

('a', 'b', 1, 2, 3, 4)

In [55]:
a=(1,23,4,5)
r=a*3
print(r)

(1, 23, 4, 5, 1, 23, 4, 5, 1, 23, 4, 5)

In [ ]:
Tuple Methods
Python has two built-in methods that you can use on tuples.

Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found